.productDesc {
    background:  rgb(211, 208, 208);
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    color: black;
    margin: 20px;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
}
.productImage {
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
}