.productDesc {
    background: rgb(0, 13, 27);
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    color: white;
    margin: 20px
}
.productImage {
    width: 200px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    margin: 20px

}