.customerInfo {
    background:  rgb(211, 208, 208);
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    padding: 5px
}
li{
    margin: 10px 0;
  }