.Product {
    width: 300px;
    float: left;
    background:  rgb(211, 208, 208);
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    color: black;
}

/* .product-image {
    width: 200px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 10px
} */
.product-image {
    width: auto;
    margin: 10px auto;
    max-width: 100%;
    max-height: 300px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;

}