.Product {
    width: 300px;
    float: left;
    background: rgb(165, 201, 243);
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(141, 110, 136);
    color: black;
}

.product-image {
    width: 200px;
}