.Product {
    width: 300px;
    float: left;
    background: #bbb;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: white;
    color: black;
}

.product-image {
    width: 200px;
}