
.profileCreateBackground{
    background: wheat;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: black;
    color: black;
    position: relative;
    padding: 30px 0;
}

.profileCreateEmail{
    background: wheat;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: black;
    color: black;
    position: relative;
    padding: 5px 0;
}

.profile-create {
    position: relative;
    text-align: center;
    top: 100px;
    color: white

}

.signUpHomeProfilrButton {
    position: relative;
    right: 20px;
    color: black;
    text-align: center;
}
.Login {
    background: rgb(0, 13, 27);
    border-style: solid;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: white;
    color: white;
    position: relative;
    top: 200px;
    padding: 30px 0;
  
  }
  
  
  
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  
  }
    